Continued from basics_5_matplt.ipynb

# 18/10/22
## Machine Learning
### Machine learnining steps
1. Data cleaning
2. Data Visualization
3. Encoding
4. Feature scaling
5. Divide data into training and testing
6. Model building
7. Model Testing
8. if efficiency is not good then go to step 1 or change training technique

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer


df = pd.read_csv('./Data.csv')
df

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
# step 1

si = SimpleImputer(missing_values=np.nan,strategy='mean') # stratergy constant, mean, median, mode (most frequent values)

# step 2 fit modle

si.fit(df[['age','Income']]) # calculate  stratergy may be mean , constant, mode
#  Transform 
df[['age', 'Income']] = si.transform(df[['age', 'Income']])  # fill vaues
print(df)

     Place        age        Income Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
# step