# 18/10/22

Continued from basics_5_matplt.ipynb

## Machine Learning
### Machine learnining steps
1. Data cleaning
2. Data Visualization
3. Encoding
4. Feature scaling
5. Divide data into training and testing
6. Model building
7. Model Testing
8. if efficiency is not good then go to step 1 or change training technique

In [15]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer


df = pd.read_csv('./Data.csv')
df

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [16]:
# step 1

si = SimpleImputer(missing_values=np.nan,strategy='mean') # stratergy constant, mean, median, mode (most frequent values)

# step 2 fit modle

# si.fit(df[['age','Income']]) # calculate  stratergy may be mean , constant, mode
# # Transform 
# df[['age', 'Income']] = si.transform(df[['age', 'Income']])  # fill vaues
# or
# using fit_transform

df[['age','Income']]=si.fit_transform(df[['age','Income']])

print(df)

     Place        age        Income Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

### Types of data 
1. Classification (Categorical)
   - Ordinal: 
   - Nominal:
2. Regression (Numerical)

Note: 
- where ordinal data we use - LabelEncoder
- where Nominal data we use - OnehotEncoder

In [21]:
# step label encode
x= df.iloc[:,:-1]
print('x : \n',x )
y= df['Purchased']
print('y: \n',y)

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer # for OneHotEncoder

la=LabelEncoder()
y=la.fit_transform(y)
print('Encoded y \n',y)

# 
# OneHotEncoder (where scalling)
# 

one=ColumnTransformer([('encoder',OneHotEncoder(),[0])],remainder='passthrough')
x=one.fit_transform(x)
x

x :
      Place        age        Income
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000
y:
 0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object
Encoded y
 [0 1 0 0 1 1 0 1 0 1]

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

# 19/01/20

# 21/01/20

## pre-processing

Supervised learning
prediction sysstem
step 1: data collection
step 2: data pre-processing
step 3: training
step 4: testing
step 5: evaluation
step 6: go to step 2 or 3

In [10]:
import pandas as pd
import numpy as np

df=pd.read_csv('./Data.csv')
df

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

reset_index(drop=True)

drop=True: drop the old index and replace it with an index of increasing integers

drop=False: keep the old index as a column

**Note**
- to delete missing values rows if rows is more
- index number also gets removed when we drop rows
- we need to reset index

df=df.dropna()

print(df)

df=df.reset_index(drop=True) 

print(df)

**Note**

- In time series data(stock data)unless any condition is not given use fillna() method to fill missing values

In [11]:
# find out the missing values
# sklearn
# first check how many missing values
from sklearn.impute import SimpleImputer  # deals with missing values

print(df.isna().sum())

# to delete missing values rows if rows is more
# index number also gets removed when we drop rows
#  we need to reset index

df=df.dropna() 
print(df)
df=df.reset_index(drop=True) 
print(df)


# si = SimpleImputer(missing_values=np.nan, strategy='mean') # for string columns we use most_frequent
# df.iloc[:, 1:3] = si.fit_transform(df.iloc[:, 1:3])
# or 
# df=df.replace({np.nan:34})
#

Place        0
age          1
Income       1
Purchased    0
dtype: int64
     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4   France  35.0  58000.0       Yes
5   France  48.0  79000.0       Yes
6  Germany  50.0  83000.0        No
7   France  37.0  67000.0       Yes

df=pd.

In [12]:
df=pd.read_csv('./insurance.csv')
print(df)

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [15]:
# check missing values
print(df.isna().sum())

# 2nd step

X=df.iloc[:,:-1]
y=df['charges']

# encoding
# convert string column into numeric form

# method 1: Label Encoding
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
X['smoker']=le.fit_transform(X['smoker'])
# always use label encoder on 1d data or one column

lo=LabelEncoder()
X['gender']=lo.fit_transform(X['gender'])

age         0
gender      0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

mean, std, variance

skewness, kurtosis

**area wise analysis of population using api**