## Pandas

In [2]:
import pandas as pd
import numpy as np

In [11]:
d = {
    'name': ['a', 'b', 'c', 'd', 'e', 'f'],
    'marks': [45, 67, 89, 90, 78, 90],
    'age': [22, 23, 22, 21, 23, 24]
}
# string is called object in pandas
df = pd.DataFrame(d)
print(df)
arr = np.array(df)
print(arr)

  name  marks  age
0    a     45   22
1    b     67   23
2    c     89   22
3    d     90   21
4    e     78   23
5    f     90   24
[['a' 45 22]
 ['b' 67 23]
 ['c' 89 22]
 ['d' 90 21]
 ['e' 78 23]
 ['f' 90 24]]

In [13]:
# print(df.info())
df['marks'] = df['marks'].astype('int8')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   marks   6 non-null      int8
 2   age     6 non-null      int64
dtypes: int64(1), int8(1), object(1)
memory usage: 230.0+ bytes
None

In [16]:
print(df.columns)
print(df.index)

Index(['name', 'marks', 'age'], dtype='object')
RangeIndex(start=0, stop=6, step=1)

# 29/09/2022

In [1]:
import pandas as pd
import numpy as np

d = {
    'name': ['a', 'b', 'c', 'd'],
    'marks': [45, 67, 89, 90],
    'age': [22, 23, 22, 23]
}

df = pd.DataFrame(d)

In [2]:
print(df)

  name  marks  age
0    a     45   22
1    b     67   23
2    c     89   22
3    d     90   23

In [3]:
df.to_excel(r'./abc.xlsx')

In [1]:
from pandas import read_csv


df = read_csv(r'./Data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Place      10 non-null     object
 1   age        9 non-null      float64
 2   Income     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

In [8]:
a = df['Place']
print(type(a))
print(df.loc[0])

<class 'pandas.core.series.Series'>
Place         France
age             44.0
Income       72000.0
Purchased         No
Name: 0, dtype: object

series has one column, dataframe has multiple columns

In [6]:
a = df[['Place', 'age']]
print(type(a))
print(a)

<class 'pandas.core.frame.DataFrame'>
     Place   age
0   France  44.0
1    Spain  27.0
2  Germany  30.0
3    Spain  38.0
4  Germany  40.0
5   France  35.0
6    Spain   NaN
7   France  48.0
8  Germany  50.0
9   France  37.0

In [7]:
# df to mysql

In [8]:
print(df.head(5))
print(df.tail(5))

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
     Place   age   Income Purchased
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
print(df[["Place", "age"]].head(5))

     Place   age
0   France  44.0
1    Spain  27.0
2  Germany  30.0
3    Spain  38.0
4  Germany  40.0

In [10]:
print(df['Income'].min())
print(df['Income'].max())
print(df['Income'].mean())
print(df['Income'].median())
print(df['Income'].std())
print(df['Income'].var)
print(df['Income'].sum())

48000.0
83000.0
63777.77777777778
61000.0
12265.579661982732
<bound method NDFrame._add_numeric_operations.<locals>.var of 0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
5    58000.0
6    52000.0
7    79000.0
8    83000.0
9    67000.0
Name: Income, dtype: float64>
574000.0

In [11]:
print(df['Income'])
print(df['Income'][0])

0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
5    58000.0
6    52000.0
7    79000.0
8    83000.0
9    67000.0
Name: Income, dtype: float64
72000.0

In [12]:
# df['Income'][4]=df['Income'].mean()
# print(df)

In [13]:
print(df)

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [14]:
a = df['Income'].isna()
print(a)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: Income, dtype: bool

In [15]:
print(a)
print(np.array(a))
arr = np.array(a)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: Income, dtype: bool
[False False False False  True False False False False False]

In [16]:
tem = np.where(arr)[0]
# print(tem)
print(df['Income'][tem])
# remove nan

4   NaN
Name: Income, dtype: float64

In [17]:
# df[['Income','age']] = df[['Income','age']].fillna()

In [18]:
print(df)

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [1]:
import mysql.connector

conn = mysql.connector.connect(user='root',
                               host='localhost',
                               port=3306,
                               password='')

cur = conn.cursor()

cur.execute('use pandasdata')
# try:
# cur.execute('create table country(place varchar(20), age varchar(20), Income varchar(20), Purchased varchar(10));')
# except: pass

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

In [40]:
# df = pd.ExcelFile('./abc.xlsx')
# df_sheet = df.parse(sheet_name='Sheet1')
# print(df_sheet)
# df_sheet.to_sql('Sheet1', conn, if_exists='append')
df = pd.read_excel('./abc.xlsx')
df.to_sql('country', con=conn)

/home/darklord/.local/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

# 30/09/2022

In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('./Data.csv')
print(df)

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
# sort
df = pd.read_csv('./Data.csv')

df = df.sort_values('age')
print(df)

     Place   age   Income Purchased
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
5   France  35.0  58000.0       Yes
9   France  37.0  67000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
0   France  44.0  72000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
6    Spain   NaN  52000.0        No

In [13]:
df = pd.read_csv('./Data.csv')

df = df.set_index('age')
print(df)
print(df.info)

        Place   Income Purchased
age
44.0   France  72000.0        No
27.0    Spain  48000.0       Yes
30.0  Germany  54000.0        No
38.0    Spain  61000.0        No
40.0  Germany      NaN       Yes
35.0   France  58000.0       Yes
NaN     Spain  52000.0        No
48.0   France  79000.0       Yes
50.0  Germany  83000.0        No
37.0   France  67000.0       Yes
<bound method DataFrame.info of         Place   Income Purchased
age
44.0   France  72000.0        No
27.0    Spain  48000.0       Yes
30.0  Germany  54000.0        No
38.0    Spain  61000.0        No
40.0  Germany      NaN       Yes
35.0   France  58000.0       Yes
NaN     Spain  52000.0        No
48.0   France  79000.0       Yes
50.0  Germany  83000.0        No
37.0   France  67000.0       Yes>

In [14]:
#  index a1 a2 a3 .....

In [20]:
df = pd.read_csv('./Data.csv')

df = df.set_index('age')
print(df)
df = df.reset_index()
print(df)

        Place   Income Purchased
age
44.0   France  72000.0        No
27.0    Spain  48000.0       Yes
30.0  Germany  54000.0        No
38.0    Spain  61000.0        No
40.0  Germany      NaN       Yes
35.0   France  58000.0       Yes
NaN     Spain  52000.0        No
48.0   France  79000.0       Yes
50.0  Germany  83000.0        No
37.0   France  67000.0       Yes
    age    Place   Income Purchased
0  44.0   France  72000.0        No
1  27.0    Spain  48000.0       Yes
2  30.0  Germany  54000.0        No
3  38.0    Spain  61000.0        No
4  40.0  Germany      NaN       Yes
5  35.0   France  58000.0       Yes
6   NaN    Spain  52000.0        No
7  48.0   France  79000.0       Yes
8  50.0  Germany  83000.0        No
9  37.0   France  67000.0       Yes

In [21]:
df = pd.read_csv('./Data.csv')
df = df.set_index('age')
print(df)
df = df.reset_index(drop=True)
print(df)

        Place   Income Purchased
age
44.0   France  72000.0        No
27.0    Spain  48000.0       Yes
30.0  Germany  54000.0        No
38.0    Spain  61000.0        No
40.0  Germany      NaN       Yes
35.0   France  58000.0       Yes
NaN     Spain  52000.0        No
48.0   France  79000.0       Yes
50.0  Germany  83000.0        No
37.0   France  67000.0       Yes
     Place   Income Purchased
0   France  72000.0        No
1    Spain  48000.0       Yes
2  Germany  54000.0        No
3    Spain  61000.0        No
4  Germany      NaN       Yes
5   France  58000.0       Yes
6    Spain  52000.0        No
7   France  79000.0       Yes
8  Germany  83000.0        No
9   France  67000.0       Yes

In [22]:
df = pd.read_csv('./Data.csv')
df = df.set_index('age', drop=False)
print(df)
df = df.reset_index()
print(df)

        Place   age   Income Purchased
age
44.0   France  44.0  72000.0        No
27.0    Spain  27.0  48000.0       Yes
30.0  Germany  30.0  54000.0        No
38.0    Spain  38.0  61000.0        No
40.0  Germany  40.0      NaN       Yes
35.0   France  35.0  58000.0       Yes
NaN     Spain   NaN  52000.0        No
48.0   France  48.0  79000.0       Yes
50.0  Germany  50.0  83000.0        No
37.0   France  37.0  67000.0       Yes

ValueError: cannot insert age, already exists

In [48]:
df = pd.read_csv('./Data.csv')
print(df.isna().sum())

Place        0
age          1
Income       1
Purchased    0
dtype: int64

In [27]:
df = df.dropna()
print(df.isna().sum().sum())

0

In [28]:
df = pd.read_csv('./Data.csv')
age = df['age'][0:5]
print(age)

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
Name: age, dtype: float64

In [31]:
age = df.loc[0]
print(age)
age = df.loc[2:7]
print(age)
age = df.loc[2:4:6]
print(age)

Place         France
age             44.0
Income       72000.0
Purchased         No
Name: 0, dtype: object
     Place   age   Income Purchased
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
     Place   age   Income Purchased
2  Germany  30.0  54000.0        No

In [32]:
print(df.loc[:])

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [33]:
print(df.loc[:, 'Place'])

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Place, dtype: object

In [34]:
print(df.loc[:, 'Place':'Income'])

     Place   age   Income
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [35]:
print(df.loc[1:8, 'Place':'Income'])

     Place   age   Income
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0

In [36]:
print(df.loc[[0, 4, 7, 8], 'Place':'Income'])

     Place   age   Income
0   France  44.0  72000.0
4  Germany  40.0      NaN
7   France  48.0  79000.0
8  Germany  50.0  83000.0

In [37]:
df = pd.read_csv('./Data.csv')
temp = df['age'] >= 40
print(temp)

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
9    False
Name: age, dtype: bool

In [38]:
a = df.loc[temp]
print(a)

     Place   age   Income Purchased
0   France  44.0  72000.0        No
4  Germany  40.0      NaN       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No

In [39]:
temp = df['Income'] >= 60000
print(df.loc[temp, 'Place'])

0     France
3      Spain
7     France
8    Germany
9     France
Name: Place, dtype: object

In [44]:
temp = df['age'] > 40
print(df.loc[temp, 'Income'])
df.loc[temp, 'Income'] = df.loc[temp, 'Income']/2

0    72000.0
7    79000.0
8    83000.0
Name: Income, dtype: float64

In [45]:
print(df)

     Place   age   Income Purchased
0   France  44.0  36000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  39500.0       Yes
8  Germany  50.0  41500.0        No
9   France  37.0  67000.0       Yes

In [50]:
df = (df['age'] > 30 & (df['Purchased'] == 'Yes'))
print(df)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
dtype: bool

# 03/10/2022

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./insurance.csv')

In [2]:
print(df.isna().sum())
print(df.columns)

age         0
gender      0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64
Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [3]:
# persons belonging to south-west (count)
series = (df['region'].str.contains('southwest')) & (
    df['gender'].str.startswith('male'))
df[series]

      age gender   bmi  children smoker     region     charges
12     23   male  34.4         0     no  southwest   1826.8430
15     19   male  24.6         1     no  southwest   1837.2370
18     56   male  40.3         0     no  southwest  10602.3850
19     30   male  35.3         0    yes  southwest  36837.4670
29     31   male  36.3         2    yes  southwest  38711.0000
...   ...    ...   ...       ...    ...        ...         ...
1295   20   male  22.0         1     no  southwest   1964.7800
1303   43   male  27.8         0    yes  southwest  37829.7242
1309   41   male  32.2         2     no  southwest   6875.9610
1312   34   male  42.9         1     no  southwest   4536.2590
1329   52   male  38.6         2     no  southwest  10325.2060

[163 rows x 7 columns]

In [4]:
print(df.loc[:, 'region'].value_counts())
print(df.loc[:, 'region'].value_counts().index)

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64
Index(['southeast', 'southwest', 'northwest', 'northeast'], dtype='object')

In [5]:
series = (df['gender'] == 'female') & (df['smoker'] == 'yes') & (
    df['region'] == 'southwest') & (df['children'] >= 2)
series

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

In [6]:
print(df.loc[series])

      age  gender   bmi  children smoker     region    charges
84     37  female  34.8         2    yes  southwest  39836.519
94     64  female  31.3         2    yes  southwest  47291.055
251    63  female  32.2         2    yes  southwest  47305.305
417    36  female  22.6         2    yes  southwest  18608.262
860    37  female  47.6         2    yes  southwest  46113.511
1085   39  female  18.3         5    yes  southwest  19023.260
1171   43  female  26.7         2    yes  southwest  22478.600
1313   19  female  34.7         2    yes  southwest  36397.576

In [1]:
import pandas as pd
df = pd.read_csv('./insurance.csv')
af = (df['gender'] == 'female') & (df['region'] == 'southwest')
# af=df.loc[af]
# print(af)
all_female = df[af]
af_count = df.loc[af, 'gender'].value_counts()[0]
print(af_count)
# print(all_female)

162

In [2]:
smoker_female = all_female['smoker'] == 'yes'
smoker_female_count = all_female.loc[smoker_female, 'gender'].value_counts()[0]
print((int(smoker_female_count)/int(af_count))*100)

12.962962962962962

In [5]:
alm = (df['gender'].str.startswith('male')) & (df['region'] == 'southwest')

al_male_count = df.loc[alm, 'gender'].value_counts()[0]
print(al_male_count)
al_male = df.loc[alm]

163

In [11]:
male_smoker = al_male['smoker'] == 'yes'

male_smoker_count = al_male.loc[male_smoker, 'gender'].value_counts()[0]
percen_male_smoker = (male_smoker_count/al_male_count)*100
print(percen_male_smoker)

22.699386503067483

In [ ]:
df1 = pd.read_csv('Data.csv')
print(df1.columns)

Index(['Place', 'age', 'Income', 'Purchased'], dtype='object')

In [ ]:
df1.loc[:, 'Income'] = df1.loc[:, 'Income'].fillna(value=0)
print(df1)

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      0.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
df1.loc[:, 'Income'] = df1.loc[:, 'Income'].fillna(method='bfill')
print(df1)
# df1.loc[:,'Income']=df1.loc[:,'Income'].fillna(method='bfill')

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  58000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

region nw, female ==0 ==1 charges mean
region nw, female, child >-=2 charges mean
which is more

nw male yes smoker child >2 charges mean
nw male yes smoker child <=1 charges mean
which is more

In [25]:

nwf = (df['gender'] == 'female') & (df['region'] == 'northwest')
# print(df.loc[nwf])
nwf_count = df.loc[nwf, 'gender'].value_counts()[0]
nwf1 = (df['gender'] == 'female') & (
    df['region'] == 'northwest') & (df['children'] <= 1)
print(df.loc[nwf1, ['charges']].mean())
# print(df.loc[nwf1])
nwf2 = (df['gender'] == 'female') & (
    df['region'] == 'northwest') & (df['children'] >= 2)
print(df.loc[nwf2, 'charges'].mean())
# print(df.loc[nwf2])

charges    12123.438375
dtype: float64
13114.198571355933

In [26]:
nwm1 = (df['gender'].str.startswith('male')) & (df['region'] ==
                                                'northwest') & (df['children'] <= 1) & (df['smoker'] == 'yes')
print(df.loc[nwm1, ['charges']].mean())
nwm2 = (df['gender'].str.startswith('male')) & (df['region'] ==
                                                'northwest') & (df['children'] >= 2) & (df['smoker'] == 'yes')
print(df.loc[nwf2, 'charges'].mean())

charges    24897.0677
dtype: float64
13114.198571355933

# 04/10/2022

In [1]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('./Life Expectancy Data.csv')
# print(df.head(2))
for i in df['Country']:
    print(i)

Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Afghanistan
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Albania
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Algeria
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Angola
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Antigua and Barbuda
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Armenia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Australia
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Azerbaijan
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahamas
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bahrain
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Bangladesh
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Barbados
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belarus
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Belize
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Benin
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bhutan
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Bosnia and Herzegovina
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Botswana
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Brunei Darussalam
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Bulgaria
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burkina Faso
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
Burundi
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
C?te d'Ivoire
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cabo Verde
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cambodia
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Cameroon
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Canada
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Central African Republic
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chad
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
China
China
China
China
China
China
China
China
China
China
China
China
China
China
China
China
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Comoros
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Congo
Cook Islands
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cuba
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Cyprus
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Czechia
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic People's Republic of Korea
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Democratic Republic of the Congo
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Djibouti
Dominica
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Dominican Republic
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Ecuador
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
Egypt
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
El Salvador
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Equatorial Guinea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Eritrea
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Estonia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Ethiopia
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Fiji
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
Finland
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gabon
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Gambia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Ghana
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Greece
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Grenada
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guatemala
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guinea-Bissau
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Guyana
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Haiti
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Honduras
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
Iceland
India
India
India
India
India
India
India
India
India
India
India
India
India
India
India
India
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Indonesia
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iran (Islamic Republic of)
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Iraq
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Ireland
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Israel
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Jamaica
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Japan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Jordan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kazakhstan
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kenya
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kiribati
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kuwait
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Kyrgyzstan
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Lao People's Democratic Republic
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Latvia
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lebanon
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Lesotho
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Liberia
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Libya
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Lithuania
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Luxembourg
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Madagascar
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malawi
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Malaysia
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Maldives
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Mali
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Malta
Marshall Islands
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritania
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mauritius
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Micronesia (Federated States of)
Monaco
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Mongolia
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Montenegro
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Mozambique
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Myanmar
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Namibia
Nauru
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Nepal
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
New Zealand
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Nicaragua
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Niger
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Niue
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Norway
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Oman
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Palau
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Panama
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea
Papua New Guinea

In [34]:
lst = list(df['Country'])
# lst
d = {}
for i in df:
    d[i] = list(df[i])
# print(d)

In [35]:
'create table t2({d.keys()[0]} varchar(20),{d.keys()[1]},....)'
# d.keys

'create table t2({d.keys()[0]} varchar(20),{d.keys()[1]},....)'

In [36]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [37]:
df = df.dropna()

In [38]:
df.isna().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

**Drop Rows and Columns**

In [39]:
# drop Columns
df = df.drop(['Status', 'Population'], axis=1)
# or
# df=df.drop(columns=['Status','Population'])

In [40]:
df.head(5)

,Country,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,Afghanistan,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,Afghanistan,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,Afghanistan,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5

In [41]:
# drop rows
df = df.drop([0, 3, 5])
# df=df.drop([0,3,5],axis=0)
# df=df.drop(index=[0,3,5])

In [42]:
df.head(5)

,Country,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,Afghanistan,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
4,Afghanistan,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5
6,Afghanistan,2009,58.6,281.0,77,0.01,56.762217,63.0,2861,16.2,106,63.0,9.42,63.0,0.1,445.893298,18.6,18.7,0.434,8.9
7,Afghanistan,2008,58.1,287.0,80,0.03,25.873925,64.0,1599,15.7,110,64.0,8.33,64.0,0.1,373.361116,18.8,18.9,0.433,8.7

In [49]:
df = pd.read_csv('./Life Expectancy Data.csv')
# df=df.dropna()

In [51]:
n = df['Year'] == 2015
# df1=df.loc[n]
# df1.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [52]:
print(n)

0        True
1       False
2       False
3       False
4       False
        ...
2933    False
2934    False
2935    False
2936    False
2937    False
Name: Year, Length: 2938, dtype: bool

In [53]:
ind = df.loc[n].index
ind

Int64Index([   0,   16,   32,   48,   64,   80,   96,  112,  128,  144,
            ...
            2778, 2794, 2810, 2826, 2842, 2858, 2874, 2890, 2906, 2922],
           dtype='int64', length=183)

In [54]:
df = df.drop(ind)

In [56]:
df.head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
10,Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9

In [59]:
n = (df['Year'] == 2012) | (df['Year'] == 2010)
ind = df.loc[n].index
df = df.drop(ind)

In [60]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7

In [61]:
df = pd.read_csv('./Life Expectancy Data.csv')
m=df.mean()
m

/tmp/ipykernel_3379/3617525692.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m=df.mean()

Year                               2.007519e+03
Life expectancy                    6.922493e+01
Adult Mortality                    1.647964e+02
infant deaths                      3.030395e+01
Alcohol                            4.602861e+00
percentage expenditure             7.382513e+02
Hepatitis B                        8.094046e+01
Measles                            2.419592e+03
 BMI                               3.832125e+01
under-five deaths                  4.203574e+01
Polio                              8.255019e+01
Total expenditure                  5.938190e+00
Diphtheria                         8.232408e+01
 HIV/AIDS                          1.742103e+00
GDP                                7.483158e+03
Population                         1.275338e+07
 thinness  1-19 years              4.839704e+00
 thinness 5-9 years                4.870317e+00
Income composition of resources    6.275511e-01
Schooling                          1.199279e+01
dtype: float64

In [62]:
m=df['Schooling'].mean()
m

11.992792792792786

In [63]:
m=df.min()
m

Country                            Afghanistan
Year                                      2000
Status                               Developed
Life expectancy                           36.3
Adult Mortality                            1.0
infant deaths                                0
Alcohol                                   0.01
percentage expenditure                     0.0
Hepatitis B                                1.0
Measles                                      0
 BMI                                       1.0
under-five deaths                            0
Polio                                      3.0
Total expenditure                         0.37
Diphtheria                                 2.0
 HIV/AIDS                                  0.1
GDP                                    1.68135
Population                                34.0
 thinness  1-19 years                      0.1
 thinness 5-9 years                        0.1
Income composition of resources            0.0
Schooling                                  0.0
dtype: object

In [64]:
m=df.agg(['mean','min','max','std','var'])
m

/tmp/ipykernel_3379/2343006578.py:1: FutureWarning: ['Country', 'Status'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  m=df.agg(['mean','min','max','std','var'])

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
mean,NaN,2007.518720,NaN,69.224932,164.796448,30.303948,4.602861,7.382513e+02,80.940461,2.419592e+03,...,82.550188,5.938190,82.324084,1.742103,7.483158e+03,1.275338e+07,4.839704,4.870317,0.627551,11.992793
min,Afghanistan,2000.000000,Developed,36.300000,1.000000,0.000000,0.010000,0.000000e+00,1.000000,0.000000e+00,...,3.000000,0.370000,2.000000,0.100000,1.681350e+00,3.400000e+01,0.100000,0.100000,0.000000,0.000000
max,Zimbabwe,2015.000000,Developing,89.000000,723.000000,1800.000000,17.870000,1.947991e+04,99.000000,2.121830e+05,...,99.000000,17.600000,99.000000,50.600000,1.191727e+05,1.293859e+09,27.700000,28.600000,0.948000,20.700000
std,NaN,4.613841,NaN,9.523867,124.292079,117.926501,4.052413,1.987915e+03,25.070016,1.146727e+04,...,23.428046,2.498320,23.716912,5.077785,1.427017e+04,6.101210e+07,4.420195,4.508882,0.210904,3.358920
var,NaN,21.287528,NaN,90.704052,15448.520903,13906.659712,16.422048,3.951805e+06,628.505682,1.314983e+08,...,548.873337,6.241601,562.491918,25.783896,2.036377e+08,3.722476e+15,19.538123,20.330018,0.044480,11.282342

- check each year mean schooling
- check alocohol consumption status develping country
- life expectancy in developed country and developing country which is more

In [66]:
# groupby method
groups=df.groupby('Year')
groups

In [67]:
a=groups.get_group(2000)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
31,Albania,2000,Developing,72.6,11.0,1,3.66,91.711541,96.0,662,...,97.0,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
63,Angola,2000,Developing,45.3,48.0,97,1.85,15.881493,NaN,2219,...,3.0,2.79,28.0,2.0,555.296942,1644924.0,1.9,1.9,0.382,4.6
79,Antigua and Barbuda,2000,Developing,73.6,156.0,0,7.27,1127.743470,NaN,0,...,96.0,4.13,95.0,0.1,9875.161736,NaN,3.7,3.6,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,Venezuela (Bolivarian Republic of),2000,Developing,72.5,168.0,11,8.01,0.000000,5.0,22,...,86.0,4.91,77.0,0.1,NaN,NaN,1.8,1.7,0.670,10.6
2889,Viet Nam,2000,Developing,73.4,139.0,33,1.60,0.000000,NaN,16512,...,96.0,4.89,96.0,0.1,NaN,NaN,15.8,16.4,0.569,10.4
2905,Yemen,2000,Developing,68.0,252.0,48,0.07,0.000000,14.0,0,...,74.0,4.14,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7
2921,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8