# 18/10/22

Continued from basics_5_matplt.ipynb

## Machine Learning

### Machine learnining steps

1. Data cleaning
2. Data Visualization
3. Encoding
4. Feature scaling
5. Divide data into training and testing
6. Model building
7. Model Testing
8. if efficiency is not good then go to step 1 or change training technique

In [15]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer


df = pd.read_csv('./Data.csv')
df

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [16]:
# step 1

# stratergy constant, mean, median, mode (most frequent values)
si = SimpleImputer(missing_values=np.nan, strategy='mean')

# step 2 fit modle

# si.fit(df[['age','Income']]) # calculate  stratergy may be mean , constant, mode
# # Transform
# df[['age', 'Income']] = si.transform(df[['age', 'Income']])  # fill vaues
# or
# using fit_transform

df[['age', 'Income']] = si.fit_transform(df[['age', 'Income']])

print(df)

     Place        age        Income Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

### Types of data

1. Classification (Categorical)
   - Ordinal:
   - Nominal:
2. Regression (Numerical)

Note:

- where ordinal data we use - LabelEncoder
- where Nominal data we use - OnehotEncoder

In [21]:
# step label encode
from sklearn.compose import ColumnTransformer  # for OneHotEncoder
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
x = df.iloc[:, :-1]
print('x : \n', x)
y = df['Purchased']
print('y: \n', y)


la = LabelEncoder()
y = la.fit_transform(y)
print('Encoded y \n', y)

#
# OneHotEncoder (where scalling)
#

one = ColumnTransformer(
    [('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = one.fit_transform(x)
x

x :
      Place        age        Income
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000
y:
 0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object
Encoded y
 [0 1 0 0 1 1 0 1 0 1]

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

# 19/10/22

# 21/10/22

## pre-processing

Supervised learning
prediction sysstem
step 1: data collection
step 2: data pre-processing
step 3: training
step 4: testing
step 5: evaluation
step 6: go to step 2 or 3

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('./Data.csv')
df

     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

reset_index(drop=True)

drop=True: drop the old index and replace it with an index of increasing integers

drop=False: keep the old index as a column

**Note**

- to delete missing values rows if rows is more
- index number also gets removed when we drop rows
- we need to reset index

df=df.dropna()

print(df)

df=df.reset_index(drop=True)

print(df)

**Note**

- In time series data(stock data)unless any condition is not given use fillna() method to fill missing values

In [11]:
# find out the missing values
# sklearn
# first check how many missing values
from sklearn.impute import SimpleImputer  # deals with missing values

print(df.isna().sum())

# to delete missing values rows if rows is more
# index number also gets removed when we drop rows
#  we need to reset index

df = df.dropna()
print(df)
df = df.reset_index(drop=True)
print(df)


# si = SimpleImputer(missing_values=np.nan, strategy='mean') # for string columns we use most_frequent
# df.iloc[:, 1:3] = si.fit_transform(df.iloc[:, 1:3])
# or
# df=df.replace({np.nan:34})
#

Place        0
age          1
Income       1
Purchased    0
dtype: int64
     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
     Place   age   Income Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4   France  35.0  58000.0       Yes
5   France  48.0  79000.0       Yes
6  Germany  50.0  83000.0        No
7   France  37.0  67000.0       Yes

df=pd.

In [1]:
import pandas as pd
df = pd.read_csv('./insurance.csv')
print(df)

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [2]:
# check missing values
from sklearn.preprocessing import LabelEncoder
print(df.isna().sum())

# 2nd step

X = df.iloc[:, :-1]
y = df['charges']

# encoding
# convert string column into numeric form

# method 1: Label Encoding

le = LabelEncoder()
X['smoker'] = le.fit_transform(X['smoker'])
# always use label encoder on 1d data or one column

lo = LabelEncoder()
X['gender'] = lo.fit_transform(X['gender'])

age         0
gender      0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

mean, std, variance

skewness, kurtosis

**area wise analysis of population using api**

# 26/10/22

Types of categorical data

1. Ordinal: is that in which categories have distance among them and that distance affects the dependent variable
2. Nominal(non-ordinal): is that in which categories are independent from one another or their relationship does not affect the dependent variable

In [1]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

df = pd.read_csv('./insurance.csv')

# missing values

X = df.iloc[:, :-1]  # X=df.drop(columns=['charges'])
y = df['charges']

# Encoding

#  region is non ordinal
'''Note 
# ordinal ---- then LabelEncoder
# non-ordinal ----- then OneHotEncoder
'''


# diff object for each ordinal values

encoder = LabelEncoder()
X['gender'] = encoder.fit_transform(X['gender'])
# alphabetically encode

encoder2 = LabelEncoder()
X['smoker'] = encoder2.fit_transform(X['smoker'])

# one Hot Encoding


ct = ColumnTransformer(
    transformers=[('encode', OneHotEncoder(), [5])], remainder='passthrough')

X = ct.fit_transform(X)  # makes 4 diff column each for NE, NW, SE, SW
# columns creates are called dummy variable

# 27/10/22

## Feature Selection

**note**

1. To be done before encoding
2. If two independent variables are highly correlated then we can remove one of them
3. If independent variable is not correlated with dependent variable then we can remove it

**Cases** | **Methods**

1. numeric independent Numeric Dependent (Pearson Correlation)
2. numeric independent Categorical Dependent (ANOVA)
3. Categorical independent Numeric Dependent (ANOVA)
4. Categorical independent Categorical Dependent (Chi-Square)

**Method 1: Correlation**

In [2]:
corr = df.corr()
corr

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

## Scalling

1. Normalization: convert data into one range
2. Standardization (standard scaling) : x-mean(x)/std(x)

- choose 1st when we don't know data is normally distributed
- choose 2nd when we know data is normally distributed i.e. bell curve

**Advanced**

1. Robust scaling

In [3]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

Continued on basics_7_Cars.ipynb

# 01/11/22

Continued from basics_7_Cars.ipynb

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.02, random_state=0)
# randon state makes the Xtrain Ytrain ... same for every execution

**Regression**

1. Linear Regression

2. Support Vector Regression

3. Decision Tree Regression
4. Random Forest Regression
5. XGBoost Regression
6. AdaBoost Regression

**Classification**

1. Logistic Regression
2. Support Vector Machine (Classifier)
3. Decision Tree Classifier
4. Random Forest Classifier
5. Naive Bayes Classifier

6. XGBoost Classifier
7. AdaBoost Classifier

In [10]:
# Training
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [11]:
# Test

y_pred = regressor.predict(X_test)

### **Metrics**

**Regression**

1. Abosulte Mean Error
2. Mean Squared Error
3. Root Mean Squared Error
4. R2 Score:
   it tells us how much our independent variable to predict dependent variable

or

how much variance of independent variables learned by our machine

Range: -infinity to 1

**Classification**

1. Accuracy
2. Confusion Matrix
3. Precision
4. Recall
5. F1 Score
6. ROC Curve:

In [12]:
# metrics

from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred))

0.7799169742531533

Hyperparameter tuning: To find best parameters for our model

In [9]:
# # SVM
# from sklearn.metrics import r2_score
# from sklearn.svm import SVR

# regressor = SVR(C=8000)

# regressor.fit(X_train, y_train)
# y_pred = regressor.predict(X_test)

# print(r2_score(y_test, y_pred))

0.9091476829110612

# 02/11/22

In [16]:
import joblib
joblib.dump(regressor,'regressor_insurance.joblib')
joblib.dump(encoder,'gender.joblib')
joblib.dump(encoder2,'smoke.joblib')
joblib.dump(sc,'sc.joblib')
joblib.dump(ct,'ct.joblib')

['ct.joblib']

Continued on prediction_insurance.ipynb

# 03/11/22